#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Определения для hold-tap (модификаторы на home row)
#define HT_GUI &hm LGUI
#define HT_ALT &hm LALT
#define HT_CTRL &hm LCTRL
#define HT_SHIFT &hm LSHFT

&hm {
    tapping-term-ms = <280>;  // Время для hold vs tap (настрой по вкусу)
    quick-tap-ms = <150>;    // Для повторного tap
    flavor = "tap-preferred";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        // Base layer: QWERTY (основные буквы)
        base {
            label = "Base (QWERTY)";
            bindings = <
&kp Q      &kp W      &kp E      &kp R      &kp T        &kp Y      &kp U      &kp I      &kp O      &kp P
&HT_GUI    &HT_ALT    &HT_CTRL   &HT_SHIFT  &kp G        &kp H      &HT_SHIFT &HT_CTRL   &HT_ALT   &HT_GUI
&kp Z      &kp X      &kp C      &kp V      &kp B        &kp N      &kp M      &kp COMMA  &kp DOT   &kp SLASH
                        &lt 1 SPC  &lt 2 ENT  &lt 3 TAB     &lt 4 BSPC &lt 5 DEL   &lt 6 ESC
            >;
        };

        // Layer 1: Symbols (символы, скобки)
        symbols {
            label = "Symbols";
            bindings = <
&kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT     &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR
&kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT   &kp BSLH      &kp PIPE   &kp GRAVE  &kp TILDE  &kp LCBR   &kp RCBR
&kp SEMI   &kp COLON  &kp QUOT   &kp DQT    &kp LESS     &kp GREAT  &kp QMARK  &kp UNDER  &kp PLUS   &trans
                        &trans     &trans     &trans        &trans     &trans     &trans
            >;
        };

        // Layer 2: Numbers & Numpad (цифры сверху, numpad справа как на full-size)
        numbers {
            label = "Numbers/Numpad";
            bindings = <
&kp N1     &kp N2     &kp N3     &kp N4     &kp N5       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
&trans     &trans     &trans     &trans     &trans       &kp DOT    &kp COMMA  &kp SLASH  &kp ASTRK  &kp MINUS
&trans     &trans     &trans     &trans     &trans       &kp N0     &kp N1     &kp N2     &kp N3     &kp PLUS
                        &trans     &trans     &trans       &trans     &trans     &kp EQUAL
            >;
        };

        // Layer 3: Navigation (стрелки, Home/End, Page Up/Down)
        nav {
            label = "Navigation";
            bindings = <
&trans     &trans     &trans     &trans     &trans       &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &trans
&HT_GUI    &HT_ALT    &HT_CTRL   &HT_SHIFT  &trans       &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp INS
&trans     &trans     &trans     &trans     &trans       &kp CAPS   &kp SCR_LK &kp PAUSE  &kp PRTSC  &trans
                        &trans     &trans     &trans       &trans     &trans     &trans
            >;
        };

        // Layer 4: Function keys (F1-F12)
        function {
            label = "Function";
            bindings = <
&kp F1     &kp F2     &kp F3     &kp F4     &kp F5       &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
&trans     &trans     &trans     &trans     &trans       &kp F11    &kp F12    &trans     &trans     &trans
&trans     &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans
                        &trans     &trans     &trans       &trans     &trans     &trans
            >;
        };

        // Layer 5: Media & System (медиа, громкость, BT-переключение)
        media {
            label = "Media/System";
            bindings = <
&trans     &trans     &trans     &trans     &trans       &kp VOL_DN &kp VOL_UP &kp MUTE   &kp BRID   &kp BRIU
&trans     &trans     &trans     &trans     &trans       &kp MEDIA_PREV &kp MEDIA_PLAY &kp MEDIA_NEXT &trans &trans
&trans     &trans     &trans     &trans     &trans       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR
                        &trans     &trans     &trans       &trans     &trans     &trans
            >;
        };

        // Layer 6: Mouse emulation (эмуляция мыши, если нужно)
        mouse {
            label = "Mouse";
            bindings = <
&trans     &trans     &trans     &trans     &trans       &kp MS_BTN1 &kp MS_BTN2 &kp MS_BTN3 &trans   &trans
&trans     &trans     &trans     &trans     &trans       &kp MS_LEFT &kp MS_DOWN &kp MS_UP  &kp MS_RIGHT &trans
&trans     &trans     &trans     &trans     &trans       &kp MS_WHL_LEFT &kp MS_WHL_DOWN &kp MS_WHL_UP &kp MS_WHL_RIGHT &trans
                        &trans     &trans     &trans       &trans     &trans     &trans
            >;
        };
    };
};
